html, body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  margin-left: 200px;
  display: block;
}

button {
  font-family: inherit;
  width: calc(100% - 2em);
  height: 40px;
  border-radius: 4px;
  border-color: white;
  box-shadow: 0.5em 0.5em 0.5em rgba(68, 68, 68, 0.12);
  margin-top: 10%;
  margin-left: -20px;
  background-color: white;
}

button:hover {
  cursor: pointer;
  background-color:#F5F5DC;
  transition: background-color 0.5s ease;
}

input[type=number] {
  font-family: inherit;
  border: none;
  border-bottom: solid 2px #8080D7;
  background-color: transparent;
  width: 62%;
  transition: width 0.5s ease-in-out;
}

input[type=number]:focus {
  width: 80%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  outline: none;
  -moz-appearance: textfield;
}

label {
  display: inline-block;
}

.container {
  display: flex;
  position: absolute;
}

.buttons {
  text-align: center;
}

.avaliacoesform{
  display:flex;
  text-align: center;
  margin-top: 5%;
  flex-direction: column;
}

.avaliacoesform > div{
  max-width: 100px;
  margin: 5%;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.checkboxes > div {
  display: flex;
  margin-bottom: 0.5em;
}

.checkboxes > div label {
  margin-left: 1em;
}

.canvas {
  width: 1000px;
  height: 650px;
  background-image: linear-gradient( #D7D780, #f7f7f7);
  box-shadow: 0.5em 0.5em 0.5em rgba(95,94,94,.12);
  z-index: -10;
}

.verticalBar {
  padding-left: 1em;
  width: 200px;
  height: 650px;
  background-image: linear-gradient( #D7D780, #f7f7f7);
  box-shadow: 0.5em 0.5em 0.5em rgba(95,94,94,.12);
}

.verticalBar h2{
  font-size: 1em;
}

#checkbox {
  width: 100px;
  position: relative;
}

#checkbox:nth-child(1) {
  padding-top: 25%;
}

#checkbox:nth-child(2) {
  padding-top: 30%;
}

.sliderscontainer{
  margin-top: 10%;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 5%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#redSlider::-webkit-slider-thumb{
  background-color: red;
}

#redSlider::-moz-range-thumb{
  background-color: red;
}

#greenSlider::-webkit-slider-thumb{
  background-color: green;
}

#greenSlider::-moz-range-thumb{
  background-color: green;
}

#blueSlider::-webkit-slider-thumb{
  background-color: blue;
}

#blueSlider::-moz-range-thumb{
  background-color: blue;
}

.header {
  width: 1216px;
  background-color: #D7D780;
  display: flex;
}

h1 {
  padding: 10px;
  margin: 0 0 0 6px;
}

.left-arrow {
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.arrow {
  display: inline-block;

  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}